name: Update ReferenceAppPackage

on:
  repository_dispatch:
    types: [reference-package-released]

jobs:
  update-package:
    runs-on: macos-latest

    steps:
      # Checkout MainApp repo with full history and PAT token
      - name: Checkout MainApp
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0

      # Get the version from ReferenceAppPackage event
      - name: Read new version
        run: |
          echo "VERSION=${{ github.event.client_payload.version }}" >> $GITHUB_ENV
          echo "Version to update: $VERSION"

      # Create Pull Request with updated ReferenceAppPackage
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.PAT_TOKEN }}
          branch: "update-package-to-${{ env.VERSION }}"
          base: main
          commit-message: "Update ReferenceAppPackage to ${{ env.VERSION }}"
          title: "Update ReferenceAppPackage to ${{ env.VERSION }}"
          body: |
            This PR updates ReferenceAppPackage to version ${{ env.VERSION }} in the Xcode project.
          update: |
            # Replace the old ReferenceAppPackage version with the new one
            sed -i '' "s#\(ReferenceAppPackage.git@\)[0-9.]*#\1${{ env.VERSION }}#g" MainApp.xcodeproj/project.pbxproj
